spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/collab_tool}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:1234}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret: v3ryS3cr3tK3yF0rJwTS1gn1ngMustB3L0ng3rTh4nTh1s
